/*
  [MARGIN [BORDER [PADDING [CONTENT] PADDING] BORDER] MARGIN]
*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    background: url(/img/background-espaço.png) no-repeat center fixed;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 2rem;
    color: white;
}

h3{
    text-align: center;
    font-size: 1rem;
    color: white;
}

header{
    display: flex;
    justify-content: center; 
    /*background-color: rgb(224, 190, 255);*/
    width: 50%;
    margin: auto auto; /*Margem centralizada automatica*/
    padding: 1%;    
}

.cabecalho{
    background-color: rgb(63, 63, 128);    
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 0px 10px 0px 10px;
}

.caixa-quiz{
    background-color: rgb(227, 234, 255);
    /* border: 1px solid black; */
    width: 50%;
    margin: auto auto;
    padding: 1%;      
    border-radius: 10px;
}

.pergunta{
    /*background-color: rgb(241, 250, 122);*/
    /*border: 1px solid black;*/
    padding-bottom: 10px;
}

.op-a, .op-b, .op-c{
    background-color: rgb(131, 160, 255);
    border-style: solid;
    border: 1px solid black;
    padding: 5px;
    margin: 2px 0px 2px 0px;
}

.certo-errado{
    background-color: rgb(102, 255, 0);
    /*border: 1px solid black;*/
    margin: 5px 0px 5px 0px;
}

.caixa-resposta{
    /*background-color: rgb(0, 255, 0);*/
    /*border: 1px solid black;*/
    margin: 2px 0px 2px 0px;
    display: flex;    
    width: 100%;
    height: auto; /* Altura automatica da caixa de resposta */  
    padding: 1%; 
}

.img-resposta{
    border: 10px solid #006c97;
    border-radius: 10px;
    width: 100%;
    /*height: auto;  */  
}

.resposta{
    /*border: 1px solid red;*/
    padding: 0px 10px 10px 10px;
    width: 100%;
    overflow: auto;
    /*overflow-y: hidden; /*auto / scroll / hidden / visible  */
}

.botao-responder{
    /*background-color: aquamarine;*/
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    width: 100%;      
}

.btnResponder{
    width: 30%;    
}