/*
  [MARGIN [BORDER [PADDING [CONTENT] PADDING] BORDER] MARGIN]
*/

*{
    box-sizing: border-box; /* Utiliza toda a página sem "tranbordar" para direita */
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    background: url(/img/background-espaço.png) no-repeat center fixed;
    background-size: cover;
}

p{
    padding: 2px;  
    margin: 0px;
}

h1{
    text-align: center;
    font-size: 2rem;
    color: white;
}

h3{
    text-align: center;
    font-size: 1rem;
    color: white;
}

header{
    display: flex;
    justify-content: center; 
    /*background-color: rgb(224, 190, 255);*/
    width: 50%;
    margin: auto auto; /*Margem centralizada automatica*/
    padding: 1%;    
}

.cabecalho{
    background-color: rgb(63, 63, 128);    
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 0px 10px 0px 10px;
}

.id-quiz{
    background-color: rgb(229, 255, 0);
    border: 1px solid yellow;
    display: flex;
    flex-wrap: nowrap;
    /*padding-bottom: 0px;*/
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
}

.caixa-quiz{
    background-color: rgb(227, 234, 255);
    /* border: 1px solid black; */
    width: 50%;
    margin: auto auto 20px;
    padding: 1%;      
    border-radius: 10px;
}

.caixa-pergunta{
    display: flex;
    flex-wrap: nowrap;
    /*border: 1px solid black;*/
    padding-bottom: 10px;
}

.id-pergunta{
    /*border: 1px solid black;*/
    padding: 5px;
    border-radius: 50px;
    background-color: #006c97;
    color: white;        
    text-align: center;
    width: 30px;
    height: 30px;
}

.pergunta{
    /*background-color: rgb(241, 250, 122);*/
    /*border: 1px solid black;*/
    width: 95%;
    margin: 0px 0px 0px 10px;
}

.op{
    background-color: rgb(131, 160, 255);
    border: 1px solid #006c97;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    text-align: left;
    margin: 2px 0px 5px 0px;
    cursor: pointer;
    font-size: 16px;
}

.mensagem{
    background-color: rgb(102, 255, 0);
    /*border: 1px solid black;*/
    padding: 2px;
    margin: 5px 0px 5px 0px;
}

.caixa-resposta{
    /*background-color: rgb(0, 255, 0);*/
    /*border: 1px solid black;*/
    margin: 2px 0px 2px 0px;
    display: flex;
    flex-wrap: nowrap;  /* nowrap / wrap?? */
    height: auto; /* Altura automatica da caixa de resposta */  
    padding: 1%;       
}

.img-resposta{
    border: 5px solid #006c97;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.resposta{
    /*border: 1px solid red;*/
    padding: 0px 10px 10px 10px;
    width: 200%;
    overflow: auto; /*Texto interior: expandir ou retrair automaticamente */
    /*overflow-y: hidden; /*Texto interior eixo vertical(y): auto / scroll / hidden / visible  */
}

@media (max-width: 800px){ /* Ajustar automaticamente quando o tamanho da tela for 800px ou menor */
    .img-resposta, .resposta {
      flex: 100%;
    }
}

.caixa-botao{
    /*background-color: aquamarine;*/
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between; /* Coloca um espaço entre os elementos */
    align-items: center; /* Centraliza os elementos */
    margin: 5px 0px 0px 0px;
    width: 100%;
    height: 40px; 
}

.botao-responder, .botao-proximo, .botao-resetar{
    width: 30%;
    margin: 5px 0px 5px 0px;
    /*background-color: #006c97;*/
    background-color: white;
    color: black;
    /*border: none; /* Sem borda em toda div */
    border: 2px solid #006c97;
    border-radius: 5px; /* Pontas das div arredondadas */
    font-size: 1rem;
    /*box-shadow: 2px 2px 4px black; /* Sombra na div: Direita / Embaixo / Sombra / Cor */
    transition-duration: 0.4s; /* Tempo de transição ao passar o mouse */
    cursor: pointer;
    flex: 0 0 auto; /* Não cresce, não encolhe, tamanho automático */
    margin: auto; /* Isso centraliza verticalmente o botão */ 
}

.botao-responder:hover, .botao-proximo:hover, .botao-resetar{ /* Ao passar o mouse */
    background-color: #006c97; /* Muda a cor do botão */
    color: white; /* Muda a cor do texto */
    cursor: pointer;
}

.pontuacao{
    background-color: rgb(6, 255, 2);
    border-radius: 5px;    
    padding: 5px;
    margin: 5px;
    text-align: center;
}