
h1{
    text-align: center;
    font-size: 2rem;
    color: white;
}

h3{
    text-align: center;
    font-size: 1rem;
    color: white;
}

header{
    display: flex;
    justify-content: center;     
    width: 50%;
    margin: auto auto; /*Margem centralizada automatica*/
    padding-bottom: 10px;
}

.cabecalho{
    background-image: linear-gradient(to right, #0000ff 0%, #000066 100%);    
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 0px 10px 10px 10px;
}

.id-quiz{
    background-color: #FFED00;
    border: 1px solid #c0b300;
    display: flex;
    flex-wrap: nowrap;
    padding: 2px;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    font-weight: bold;    
}

.caixa-quiz{
    background-color: rgb(227, 234, 255);
    /* border: 1px solid black; */
    width: 50%;
    margin: auto auto 20px;
    padding: 1%;      
    border-radius: 10px;
}

.caixa-pergunta{
    display: flex;
    flex-wrap: nowrap;
    /*border: 1px solid black;*/
    padding-bottom: 10px;
}

.id-pergunta{
    /*border: 1px solid black;*/
    padding: 5px;
    border-radius: 50px;
    background-color: #004AAD;
    color: white;        
    text-align: center;
    width: 30px;
    height: 30px;
    font-weight: bold; 
}

.pergunta{
    /*background-color: rgb(241, 250, 122);*/
    /*border: 1px solid black;*/
    width: 95%;
    margin: 0px 0px 0px 10px;
}

.op{
    background-image: linear-gradient(to right, #5DE0E6 0%, #004AAD 100%);
    border: 1px solid #006c97;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    text-align: left;
    margin: 2px 0px 5px 0px;
    cursor: pointer;
    font-size: 16px;
}

.op:disabled{
    opacity: 1;
    cursor: default;
}

.resposta-certa{
    background-color: #00ff00;
    /*border: 1px solid black;*/
    padding: 2px;
    margin: 5px 0px 5px 0px;
    cursor: default;
}

.resposta-errada{
    background-color: #ff0000;
    /*border: 1px solid black;*/
    padding: 2px;
    margin: 5px 0px 5px 0px;
    cursor: default;
}

.caixa-resposta{
    margin: 2px 0px 2px 0px;
    display: flex;
    flex-wrap: wrap; /* nowrap / wrap?? */    
    height: auto; /* Altura automatica da caixa de resposta */  
    padding: 1%; 
}

.img-resposta{
    border: 5px solid #006c97;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.resposta{
    /*border: 1px solid red;*/
    padding: 0px 10px 10px 10px;
    width: 200%;
    overflow: auto; /*Texto interior: expandir ou retrair automaticamente */
    /*overflow-y: hidden; /*Texto interior eixo vertical(y): auto / scroll / hidden / visible  */
}

@media (max-width: 800px){ /* Ajustar automaticamente quando o tamanho da tela for 800px ou menor */
    .img-resposta, .resposta {
      flex: 100%;
    }
}

.caixa-botao{
    /*background-color: aquamarine;*/
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between; /* Coloca um espaço entre os elementos */
    align-items: center; /* Centraliza os elementos */
    margin: 5px 0px 0px 0px;
    width: 100%;
    height: 40px; 
}

.botao-responder, .botao-proximo, .botao-resetar{    
    width: auto;
    margin: 5px 0px 5px 0px;
    padding: 6px;
    background-color: white;
    color: black;
    border: 2px solid #006c97;
    border-radius: 5px; /* Pontas das div arredondadas */
    font-size: 1rem;    
    transition-duration: 0.4s; /* Tempo de transição ao passar o mouse */
    cursor: pointer;
    flex: 0 0 auto; /* Não cresce, não encolhe, tamanho automático */
    margin: auto; /* Isso centraliza verticalmente o botão */ 
    /*box-shadow: 2px 2px 4px black; /* Sombra na div: Direita / Embaixo / Sombra / Cor */
}

.botao-responder:hover, .botao-proximo:hover, .botao-resetar:hover{ /* Ao passar o mouse */
    background-color: #006c97; /* Muda a cor do botão */
    color: white; /* Muda a cor do texto */
    cursor: pointer;
}

.pontuacao{
    background-color: rgb(6, 255, 2);
    border-radius: 5px;    
    padding: 5px;
    margin: 5px;
    text-align: center;
}